<div class="row">
    {{#each notas}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               <h4 class="card-title">
                   {{comentario}}
               </h4> 
            </div>
        </div>
    </div>
    {{/each}}
</div>