<div class="jumbotron mt-4" style="text-align: center">
 <h1 class="display-4">Bienvenido a la aplicación Cesar Tweets</h1>
 <!--<p class="lead">Para entrar a la aplicación por favor ingrese</p>
 <hr class="my-4">-->
 <br><br>
 <a href="usuarios/login" class ="btn btn-primary center-block btn.lg ">Clic para entrar a la aplicación</a>
</div>