<div class="jumbotron mt-4">
 <h1 class="display-4">Aplicacion en Nodejs y utilizando MongoDB</h1>
 <p class="lead">Organizando las vistas de mi bella aplicación</p>
 <hr class="my-4">
 <p>vamos bien</p>
<a href="https://www.elcolombiano.com/" class ="btn btn-primary btn.lg">Notas en el colombiano</a>

</div>